body {
  margin: 0;
  position: relative;
  text-align: center;
  background-color: #f4f3f3;
  font-family: sans-serif;
  color: #202060;
  /*font-family: "Raleway", sans-serif;*/
}

p {
  line-height: 2;
  color: #979797;
}

img {
  display: block;
  width: 18%;
  height: auto;
  margin-left: 75%;
  margin-right: auto;
}

.description {
  padding-top: 60px;
  padding-bottom: 100px;
  width: 28%;
  margin: 0 auto;
  text-align: center;
}
.description-hook {
  font-weight: normal;
  margin-bottom: 8px;
}
.description-filler {
  margin-top: 8px;
}

.feature-cards {
}

.super-visor-desktop {
  border-top: solid;
  border-color: hsl(180, 62%, 55%);
  border-radius: 5px;
  border-top-width: thick;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin: 0 auto 40px auto;
  text-align: left;
  padding: 25px 0 35px 40px;
  float: left;
  margin-top: 160px;
  margin-left: 110px;
}
.super-visor-desktop:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.sv-p {
  width: 60%;
}
.super-visor-mobile {
  display: none;
}

.team-builder {
  border-top: solid;
  border-color: hsl(0, 78%, 62%);
  border-radius: 5px;
  border-top-width: thick;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin: 0 auto 40px auto;
  text-align: left;
  padding: 25px 0 35px 40px;
}
.team-builder:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tb-p {
  width: 65%;
}

.Karma {
  border-top: solid;
  border-color: hsl(34, 97%, 64%);
  border-radius: 5px;
  border-top-width: thick;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin: 0 auto 40px auto;
  text-align: left;
  padding: 25px 0 35px 40px;
}
.Karma:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.kar-p {
  width: 70%;
}

.calculator-desktop {
  border-top: solid;
  border-color: hsl(212, 86%, 64%);
  border-radius: 5px;
  border-top-width: thick;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin: 0 auto 40px auto;
  text-align: left;
  padding: 25px 0 35px 40px;
  float: right;
  margin-top: 160px;
  margin-right: 110px;
}
.calculator-desktop:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.calc-p {
  width: 70%;
}
.calculator-mobile {
  display: none;
}

@media only screen and (max-width: 1050px) {
  body {
    margin: 0;
    position: relative;
    text-align: center;
    background-color: #f4f3f3;
    font-family: sans-serif;
    color: #202060;
    /*font-family: "Raleway", sans-serif;*/
  }

  p {
    line-height: 2;
    color: #979797;
  }

  img {
    display: block;
    width: 18%;
    height: auto;
    margin-left: 75%;
    margin-right: auto;
  }

  .description {
    padding-top: 60px;
    padding-bottom: 100px;
    width: 74%;
    margin: 0 auto;
    text-align: center;
  }
  .description-hook {
    font-weight: normal;
    margin-bottom: 8px;
  }
  .description-filler {
    margin-top: 8px;
  }
  .description-p {
    font-size: 123%;
    width: 100%;
    margin: 0 auto;
  }

  .super-visor-desktop {
    display: none;
  }
  .super-visor-mobile {
    border-top: solid;
    border-color: hsl(180, 62%, 55%);
    border-radius: 5px;
    border-top-width: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: left;
    padding: 25px 0 35px 35px;
    display: block;
  }
  .super-visor-mobile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .sv-p {
    width: 80%;
  }

  .team-builder {
    border-top: solid;
    border-color: hsl(0, 78%, 62%);
    border-radius: 5px;
    border-top-width: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: left;
    padding: 25px 0 35px 35px;
  }
  .team-builder:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .tb-p {
    width: 80%;
  }

  .Karma {
    border-top: solid;
    border-color: hsl(34, 97%, 64%);
    border-radius: 5px;
    border-top-width: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: left;
    padding: 25px 0 35px 35px;
  }
  .Karma:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .kar-p {
    width: 80%;
  }

  .calculator-desktop {
    display: none;
  }
  .calculator-mobile {
    border-top: solid;
    border-color: hsl(212, 86%, 64%);
    border-radius: 5px;
    border-top-width: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    margin: 0 auto 40px auto;
    text-align: left;
    padding: 25px 0 35px 35px;
    display: block;
  }
  .calculator-mobile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .calc-p {
    width: 70%;
  }
}
